/*应用*/
/*left menu*/
.module-apply-left-menu{
	
}
.module-apply-left-menu a{
	padding-left: 0px !important;
}
/*光伏储能*/
.module-h6{
	padding: 10px 0px 0px 0px !important;
	margin-bottom: 0px !important;
}
.module-apply-right-h1{
	font-weight: bold !important;
	margin-bottom: 10px !important;
}
.module-apply-right-h5{
	margin-top:15px !important; 
	margin-bottom: 10px !important;
	font-weight: bold !important; 
}
.module-apply-right-welcom{
	margin-bottom: 0px !important; 
	 padding-bottom: 0px !important; 
}
.module-apply-right-h6{
	margin-top: 10px !important;
	margin-bottom: 5px !important;
}
.module-apply-right-team{
	margin-bottom:0px !important;
	padding-bottom: 0px !important;
	position: relative;
}
.module-apply-right-team img{
	width: 340px !important;
	height: 200px !important;
}
.module-apply-right-team p{
    text-align: center !important; 
}
.module-apply-right-ul-disc{
	list-style-type: disc!important;
	list-style-position: inside !important;
}
/*产品*/
.module-products-small{
	padding-left: 10px !important;
}
.module-products-ul{
	padding-top: 5px !important;
}
/*产品 right*/
.module-products-right-h1{
	font-weight: bold !important;
	margin-bottom: 10px !important;
}
.moudle-products-right-ul span{
	color: #333333;
	font-weight: bold;
	margin-right: 5px;
}
.module-products-right-h3{
	font-weight: bolder;
	margin-top:20px !important;
	margin-bottom: 10px !important; 
}
.module-products-right-ul-disc{
	list-style-type: disc!important;
	list-style-position: inside !important;
}
.module-products-table a{
	text-decoration: underline !important;
}
.module-products-table thead{
	background-color:#cccccc; 
}
.module-products-table thead th{
	vertical-align: middle;
}
.module-products-table td{
	text-align: center;
	vertical-align: middle;
}
.module-products-tr-colorrow{
	background-color: #eeeeee;
} 
.module-jishu-right-team{
	margin-bottom:0px !important;
	padding-bottom: 0px !important;
	position: relative;

}
.module-jishu-right-team img{
	width:100% !important;
	height: 260px !important;
}
.module-jishu-right-teamQA{
	margin-bottom:0px !important;
	padding-bottom: 0px !important;
	position: relative;
}
.module-jishu-right-teamQA img{
	width: 340px !important;
	height: 200px !important;
}
.module-jishu-right-teamQA ul li{
	float: left !important;
	padding: 0px 10px !important;
}
/*zhengshu*/
.module-jishu-zhengshu-right-team{
	margin-bottom:0px !important;
	padding-bottom: 0px !important;
	position: relative;
}
.module-jishu-zhengshu-right-team img{
	width: 210px !important;
	height: 200px !important;
}
.module-jishu-zhengshu-right-team p{
	text-align: center !important;
}
/*组织架构*/
.module-about-right-ceo-img{
	width: 180px;
	height: 220px;
	margin-right: 20px;
}
.module-about-right-ceo p{
	margin-left: 180px;
	width: 540px;
	margin-bottom: 5px;
}
